name: TYPO3 Build

on:
  push:
    branches:
      - "main"
    paths:
      - "typo3/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - version: 8.3
            tags: ghcr.io/hoogi91/typo3/php:8.3
          - version: 8.4
            tags: ghcr.io/hoogi91/typo3/php:8.4
          - version: 8.5
            tags: |
              ghcr.io/hoogi91/typo3/php:8.5
              ghcr.io/hoogi91/typo3/php:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: 'typo3'
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ matrix.tags }}
          target: ${{ matrix.target }}
          build-args: |
            PHP_VERSION=${{ matrix.version }}-bullseye
          cache-from: type=gha
          cache-to: type=gha,mode=max